C:\MeetMapKMP\composeApp\src\androidMain\kotlin\com\ilya\meetmapkmp\SocialMap\DATAServices\Storeg\supabase.kt
C:\MeetMapKMP\composeApp\src\commonMain\kotlin\com\ilya\Supabase\createSupabaseClient.kt
*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
